﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <h2>Export to HTML</h2>
        <p>@Html.ActionLink("Export", "ExportHtml")</p>
    </div>
    <div>
        <h2>Export to PDF</h2>
        <p>@Html.ActionLink("Export", "ExportPdf")</p>
    </div>
</div>